* {
    margin: 0;
    padding: 0;
}
body{
    /* 页面的透明图 0-1 */
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 页面的背景图片，可以修改 */
    background:url('/static/images/img.png') ;
    background-size: cover;

}

